.container 
  .card
    .dropdown
      = image_tag 'actions.svg', class: 'dropbtn'
      .dropdown-content.mini
        = link_to '編集する',edit_board_task_path(@board,@task)
        = link_to '削除する',board_task_path(@board,@task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか?' }
    .card-body
      %h5.card-title   
        = @task.title
      %p.card-text 
        = @task.content