.container 
  .card
    .dropdown
      = image_tag 'actions.svg', class: 'dropbtn'
      .dropdown-content.mini
        = link_to '編集する',edit_board_task_path(@board,@task)
        = link_to '削除する',board_task_path(@board,@task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか?' }
    .card-body
      %h5.card-title   
        = @task.title
      %p.card-text 
        = @task.content
  .comment
    %h2 Comment
    .comment_card
      - @comments.each do |comment|
        .comment_card_content
          = image_tag 'default-avatar.png'
          %p= comment.content
    .new-board 
      = link_to image_tag('Rectangle (4).png', class:"image_link"), new_board_task_comment_path(@board,@task) 
      %p Add new comment  