.container
  %ul
    - @board.errors.full_messages.each do |message|
      %li= message
  %h2 NEW Boards
  = form_with(model: @board, url: boards_path, method: 'post', local: true) do |f| 
    %div
      = f.label :title, 'Title'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :content, 'Description'
    %div
      = f.text_area :content, class: 'text'
    = f.submit 'submit', class: 'btn-primary'
